
.tbl {
  width: 100%;
  horiz-align: right;
}
.tdLabels {
  width: 30%;
  border: 1px ridge #cccccc;
  text-align: left;
  vertical-align: text-top;
}
.tdNames {
  width: 30%;
  color: #005ba6;
  border: 1px ridge #cccccc;
  text-align: left;
  vertical-align: top;
}
.tdPic {
  width: 40%;
  border: 1px ridge #cccccc;
  text-align: left;
  vertical-align: top;
}
