.helloGo {
  color: #ffffff;
  background-color: #1C869B;
}
.songName {
  color: #005ba6;
}
.songName:hover {
  color: #ffffff;
  background-color: #005ba6;
  cursor: pointer;
}
ul {
  float: left;
}
.songAction {
  float: right;
}
.songNameDiv {
  clear: both;
}
.searchByNameInput {
  width: 250px;
}